// Copy this file to .env.development and fill in the values
// Bash: `cp .env.example .env.development`
// PowerShell: `Copy-Item .env.example .env.development`

VITE_AUTH0_DOMAIN=<YOUR_AUTH0_DOMAIN>
VITE_AUTH0_CLIENT_ID=<YOUR_AUTH0_CLIENT_ID>
VITE_AUTH0_AUDIENCE=<YOUR_AUTH0_AUDIENCE>